<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.neophob.cordova.core.wurst"
    version="0.1.0">

    <name>Wurst</name>
    <description>Cordova Plugin Sekelton</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,skeleton</keywords>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Wurst">
                <param name="ios-package" value="Wurst"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <js-module src="www/Wurst.js" name="Wurst">
            <clobbers target="wurst" />
        </js-module>

        <header-file src="src/ios/Wurst.h" />
        <source-file src="src/ios/Wurst.m" />
        
    </platform>


</plugin>
